<!DOCTYPE html>
<html lang="pl">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Marta Nowicka, Konrad Lykowski">

    <title>Igła w Podróży by Marta Nowicka</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,150" rel="stylesheet">

    <script src="vendor/angular.js"></script>
    <script src="vendor/angular-animate.js"></script>
    <script src="vendor/angular-sanitize.js"></script>
    <script src="vendor/ui-bootstrap-tpls-2.5.0.js"></script>
    <link href="vendor/bootstrap.min.css" rel="stylesheet">
    <script src="http://lightwidget.com/widgets/lightwidget.js"></script>
    <script src="vendor/angular-ui-router.min.js"></script>


    <script src="js/angular.js"></script>
    <link rel="stylesheet" type="text/css" href="css/mainpage.css">
</head>

<body ng-app="iglaWPodrozy">

<div ng-controller="NavBarController">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-padding">
                <a class="navbar-title" ui-sref="posts" ui-sref-opts="{reload: true}">
                    <div>IGŁA <span>W</span> PODRÓŻY</div>
                </a>
            </div>
            <div class="collapse navbar-collapse" uib-collapse="isNavCollapsed">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="nav-link" ui-sref="posts.search({query: 'category:szycie'})">IGŁA SZYJE</a>
                    </li>
                    <li>
                        <a class="nav-link" ui-sref="posts.search({query: 'category:podrozuje'})">IGŁA
                            PODROZUJE</a>
                    </li>
                    <li>
                        <a class="nav-link" ui-sref="posts.search({query: 'category:nosi'})">IGŁA NOSI</a>
                    </li>
                    <li>
                        <a class="nav-link" ui-sref="about">KONTAKT</a>
                    </li>
                    <li style="display:flex">
                        <span style="padding-top:1px;padding-left:10px" class="glyphicon glyphicon-search"
                              aria-hidden="true"></span>
                        <input id="search" type="text" class="form-control no-border no-shadow" placeholder="SZUKAJ">
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<section id="bigPicturesCarousel" style="margin:auto;max-width:1800px">
    <div ng-controller="CarouselController" class="padding-pictures">
        <div>
            <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                <div style="max-height:600px" uib-slide ng-repeat="slide in slides track by slide.id"
                     index="slide.id">
                    <img ng-src="{{slide.image}}" style="width:100%;">
                    <div class="carousel-caption">
                        <p>{{slide.text}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section ng-controller='MainController as main' id="blogPostsList" class="container">
    <div ng-repeat="post in posts">
        <hr ng-if="$even"/>
        <div class="row elements-ordered" ng-if="$even">
            <div class="col-md-6 element-upper">
                <img class="img-responsive" ng-src="{{post._source.image}}" alt="{{post._source.image}}">
            </div>
            <div class="col-md-6 my-auto text-center post-desc element-lower">
                <div class="line">
                    <span>{{post._source.date}}</span>
                </div>
                <span><a href="#">{{post._source.category}}</a></span>
                <br/><br/>
                <div class="title">{{post._source.title}}</div>
                <div class="description">{{post._source.description}}</div>
                <br/>
                <div class="share-icons">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                </div>
                <span><a href="">Komentarze | {{post._source.commentsCount}}</a></span>
                <br/>
                <a ui-sref="posts.show({postId: '{{post._source.id}}'})" class="button"><span></span>Czytaj
                    dalej</a>
            </div>
        </div>
        <hr ng-if="!$even"/>
        <div class="row elements-ordered" ng-if="!$even">
            <div class="col-md-6 my-auto text-center post-desc element-lower">
                <div class="line">
                    <span>{{post._source.date}}</span>
                </div>
                <span><a href="#">{{post._source.category}}</a></span>
                <br/><br/>
                <div class="title">{{post._source.title}}</div>
                <div class="description">{{post._source.description}}</div>
                <br/>
                <div class="share-icons">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                </div>
                <span><a href="">Komentarze | {{post._source.commentsCount}}</a></span>
                <br/>
                <a ui-sref="posts.show({postId: '{{post._source.id}}'})" class="button"><span></span>Czytaj
                    dalej</a>
            </div>
            <div class="col-md-6 element-upper">
                <img class="img-responsive" ng-src="{{post._source.image}}" alt="{{post._source.image}}">
            </div>
        </div>
    </div>
    <div ng-show="!noMorePosts" class="text-center">
        <a ng-click="pageChanged()" class="btn btn-default">Laduj wiecej postow...</a>
    </div>

</section>

<iframe src="http://lightwidget.com/widgets/b356ebda6a3c53b0a817271e4a191bf8.html" scrolling="no"
        allowtransparency="true" class="lightwidget-widget"
        style="width: 100%; border: 0; overflow: hidden;"></iframe>


<script type="text/ng-template" id="about.html">
    <div class="modal-header">
        <div ng-click="cancel()" class="row">
            <div class="close-modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="modal-title">KONTAKT</div>
        <div style="text-align: center" class="modal-post-text center-block">
            W razie pytań zapraszam do kontaktu na email: <a href="mailto:martha.nowicka@outlook.com"
                                                             target="_blank">martha.nowicka@outlook.com</a></div>
        <img ng-src="img/about/marta.JPG" class="img-responsive center-block" style="width:25%;">
        <div class="container modal-post-text">
            <div ng-bind-html="content"></div>
        </div>
        <div class="container modal-footer">
            <a data-toggle="modal" ng-click="cancel()" class="button"><span></span>Zamknij</a>
        </div>
    </div>
</script>

<script type="text/ng-template" id="show-post.html">
    <div class="modal-header">
        <div ng-click="cancel()" class="row">
            <div class="close-modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="modal-title">CO NASZĄ JAPOŃCZYCY I PRAWDZIWI GAJDZINI?
            <img ng-src="img/IMG_9508.JPG" style="width:100%;">
        </div>
        <div class="container modal-post-text">
            <div ng-bind-html="content"></div>
        </div>
        <ul class="container tag-bar">
            <li ng-repeat="tag in tags"><a value="{{tag.link}}" ng-click="forward(tag.link)" rel="tag" class="button">{{tag.name}}</a>
            </li>
        </ul>
        <div class="container modal-footer">
            <a ng-click="cancel()" class="button"><span></span>Zamknij</a>
        </div>

        <div class="container modal-post-text">
            <hr/>
            <div>
                <h4>Dodaj komentarz</h4>
                <form name="add-comment" ng-submit="addComment()" role="form">
                    <div class="row">
                        <label class="col-xs-2 control-label">E-mail:</label>
                        <div class="col-xs-4">
                            <input class="form-control" ng-model="email" name="email"
                                   type="email"
                                   data-fv-emailaddress-message="Prosze podaj prawidlowy adres e-mail" required="true"/>
                        </div>
                        <label class="col-xs-1 control-label">Imie:</label>
                        <div class="col-xs-5">
                            <input class="form-control" ng-model="name" name="name" required="true"/>
                        </div>
                    </div>
                    <br/>
                    <div class="form-group">
                        <textarea class="form-control" ng-model="text" name="text" rows="3" maxlength="500"
                                  required="true"></textarea>
                    </div>
                    <button type="submit" data-toggle="modal" class="button">
                        <span></span>Opublikuj
                    </button>
                </form>
            </div>
            <br/>
            <div ng-repeat="comment in comments">
                <div class="media">
                    <div class="media-body">
                        <h4 class="media-heading">{{comment.name}}
                            <small>{{comment.date}}</small>
                        </h4>
                        {{comment.text}}
                    </div>
                </div>
                <br/>
            </div>
        </div>
    </div>
</script>

<ui-view></ui-view>


</body>

</html>
