<div ng-controller="NavBarController">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">

            <button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-padding">
                <a class="navbar-title" ui-sref="posts" ui-sref-opts="{reload: true}">
                    <div>IGŁA <span>W</span> PODRÓŻY
                        <div class="navbar-brand-by-marta">by Marta Nowicka</div>
                    </div>
                </a>
            </div>
            <div class="collapse navbar-collapse" uib-collapse="isNavCollapsed">
                <ul class="nav navbar-nav">
                    <li class="nav-item-left">
                        <a class="nav-link" ui-sref="posts.filter({filter: 'category:szyje'})"
                           ui-sref-opts="{reload: true}">IGŁA SZYJE</a>
                    </li>
                    <li>
                        <a class="nav-link" ui-sref="posts.filter({filter: 'category:podrozuje'})"
                           ui-sref-opts="{reload: true}">IGŁA PODROZUJE</a>
                    </li>
                    <li>
                        <a class="nav-link" ui-sref="posts.filter({filter: 'category:nosi'})"
                           ui-sref-opts="{reload: true}">IGŁA NOSI</a>
                    </li>
                    <li>
                        <a ui-sref="about" ui-sref-opts="{reload: true}">KONTAKT</a>
                    </li>
                    <li>
                        <form>
                            <input class="nav-link form-control mr-sm-2" type="text" placeholder="SZUKAJ"
                                   aria-label="Search">
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<section id="bigPicturesCarousel" class="container">
    <div ng-controller="CarouselController" class="padding-pictures">
        <div>
            <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                <div style="max-height:500px" uib-slide ng-repeat="slide in slides track by slide.id"
                     index="slide.id">
                    <img ng-src="{{slide.image}}" style="width:100%;">
                    <div class="carousel-caption">
                        <p>{{slide.text}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section ng-controller='MainController as main' id="blogPostsList" class="container">


    <div ng-repeat="post in posts.hits.hits">
        <hr ng-if="$even"/>
        <div class="row elements-ordered" ng-if="$even">
            <div class="col-md-6 element-upper">
                <img class="img-responsive" ng-src="{{post._source.image}}" alt="{{post._source.image}}">
            </div>
            <div class="col-md-6 my-auto text-center post-desc element-lower">
                <div class="line">
                    <span>{{post._source.date}}</span>
                </div>
                <span><a href="#">{{post._source.category}}</a></span>
                <br/><br/>
                <div class="title">{{post._source.title}}</div>
                <div class="description">{{post._source.description}}</div>
                <br/>
                <div class="share-icons">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                </div>
                <span><a href="">Komentarze | {{post._source.commentsCount}}</a></span>
                <br/>
                <a ui-sref="posts.show({postId: '{{post._source.id}}'})" class="button"><span></span>Czytaj dalej</a>
            </div>
        </div>
        <hr ng-if="!$even"/>
        <div class="row elements-ordered" ng-if="!$even">
            <div class="col-md-6 my-auto text-center post-desc element-lower">
                <div class="line">
                    <span>{{post._source.date}}</span>
                </div>
                <span><a href="#">{{post._source.category}}</a></span>
                <br/><br/>
                <div class="title">{{post._source.title}}</div>
                <div class="description">{{post._source.description}}</div>
                <br/>
                <div class="share-icons">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                </div>
                <span><a href="">Komentarze | {{post._source.commentsCount}}</a></span>
                <br/>
                <a ui-sref="posts.show({postId: '{{post._source.id}}'})" class="button"><span></span>Czytaj
                    dalej</a>
            </div>
            <div class="col-md-6 element-upper">
                <img class="img-responsive" ng-src="{{post._source.image}}" alt="{{post._source.image}}">
            </div>
        </div>
    </div>
    <div class="text-center">
        <ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" ng-change="pageChanged()"
            max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false"></ul>
    </div>
</section>


<iframe src="http://lightwidget.com/widgets/b356ebda6a3c53b0a817271e4a191bf8.html" scrolling="no"
        allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>

