<!DOCTYPE html>
<html lang="pl">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Marta Nowicka, Konrad Lykowski">

    <title>Igła w Podróży by Marta Nowicka</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,150" rel="stylesheet">


    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-sanitize.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <script src="//unpkg.com/angular-ui-router/release/angular-ui-router.min.js"></script>

    <script src="js/angular.js"></script>
    <link rel="stylesheet" type="text/css" href="css/mainpage.css">
</head>

<body ng-app="iglaWPodrozy">

<div>

</div>

<script type="text/ng-template" id="main.html">
    <nav id="mainNav" class="navbar navbar-fixed-top">

        <div class="container">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarTogglerDemo03">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-title" href="#">
                <div>IGŁA <span>W</span> PODRÓŻY
                    <div class="navbar-brand-by-marta">by Marta Nowicka</div>
                </div>
            </a>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="nav navbar-nav">
                    <li class="nav-item-left">
                        <a class="nav-link" href="#">IGŁA SZYJE</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#">IGŁA PODROZUJE</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#">IGŁA NOSI</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#">O MNIE</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#">KONTAKT</a>
                    </li>
                    <li>
                        <form>
                            <input class="nav-link form-control mr-sm-2" type="text" placeholder="Szukaj"
                                   aria-label="Search">
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section id="bigPicturesCarousel" class="container">
        <div ng-controller="CarouselController" class="padding-pictures">
            <div>
                <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                    <div style="max-height:500px" uib-slide ng-repeat="slide in slides track by slide.id"
                         index="slide.id">
                        <img ng-src="{{slide.image}}" style="width:100%;">
                        <div class="carousel-caption">
                            <p>{{slide.text}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section ng-controller='MainController as main' id="blogPostsList" class="container">
        <hr/>
        <div class="row elements-ordered">
            <div class="col-md-6 element-upper">
                <img class="img-responsive" src="img/image1.JPG" alt="oto Marta">
            </div>
            <div class="col-md-6 my-auto text-center post-desc element-lower">
                <div class="line">
                    <span>25th May 2017</span>
                </div>
                <span><a href="#">Podroze</a></span>
                <br/><br/>
                <div class="title">Marta pozdrawia z Porto w Portugalii</div>

                <div class="description">Marta pozdrawia z Porto w PortugaliiMarta pozdrawia z Porto w PortugaliiMarta
                    pozdrawia z Porto w Portugalii
                </div>
                <br/>
                <div class="share-icons">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                </div>
                <span><a data-disqus-identifier="http://garypeppergirl.com/2017/06/in-my-time"
                         href="http://garypeppergirl.com/2017/06/in-my-time#disqus_thread">Komentarze | 35</a></span>
                <br/>
                <a data-toggle="modal" ui-sref="posts.show({postId: 'postId'})" class="button"><span></span>Czytaj
                    dalej
                </a>
            </div>
        </div>
        <hr/>
        <div class="row elements-ordered">
            <div class="col-md-6 my-auto text-center post-desc element-lower">
                <div class="line">
                    <span>25th May 2017</span>
                </div>
                <span><a href="#">Podroze</a></span>
                <br/><br/>
                <div class="title">Marta pozdrawia z Porto w Portugalii</div>

                <div class="description">Marta pozdrawia z Porto w PortugaliiMarta pozdrawia z Porto w PortugaliiMarta
                    pozdrawia z Porto w Portugalii
                </div>
                <br/>
                <div class="share-icons">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                </div>
                <span><a data-disqus-identifier="http://garypeppergirl.com/2017/06/in-my-time"
                         href="http://garypeppergirl.com/2017/06/in-my-time#disqus_thread">Komentarze | 35</a></span>
                <br/>
                <div data-toggle="modal" ng-click="open('myModalContent.html',1)" href="#posts" class="button">
                    <span></span>Czytaj
                    dalej
                </div>
            </div>
            <div class="col-md-6 element-upper">
                <img class="img-responsive" src="img/image1.JPG" alt="oto Marta">
            </div>
        </div>
        <hr/>
        <div class="row elements-ordered">
            <div class="col-md-6 element-upper">
                <img class="img-responsive" src="img/image1.JPG" alt="oto Marta">
            </div>
            <div class="col-md-6 my-auto text-center post-desc element-lower">
                <div class="line">
                    <span>25th May 2017</span>
                </div>
                <span><a href="#">Podroze</a></span>
                <br/><br/>
                <div class="title">Marta pozdrawia z Porto w Portugalii</div>

                <div class="description">Marta pozdrawia z Porto w PortugaliiMarta pozdrawia z Porto w PortugaliiMarta
                    pozdrawia z Porto w Portugalii
                </div>
                <br/>
                <div class="share-icons">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                </div>
                <span><a data-disqus-identifier="http://garypeppergirl.com/2017/06/in-my-time"
                         href="http://garypeppergirl.com/2017/06/in-my-time#disqus_thread">Komentarze | 35</a></span>
                <br/>
                <div data-toggle="modal" ng-click="open('myModalContent.html',1)" href="#posts" class="button">
                    <span></span>Czytaj
                    dalej
                </div>
            </div>
        </div>
        <hr/>
        <div class="row elements-ordered">
            <div class="col-md-6 my-auto text-center post-desc element-lower">
                <div class="line">
                    <span>25th May 2017</span>
                </div>
                <span><a href="#">Podroze</a></span>
                <br/><br/>
                <div class="title">Marta pozdrawia z Porto w Portugalii</div>

                <div class="description">Marta pozdrawia z Porto w PortugaliiMarta pozdrawia z Porto w PortugaliiMarta
                    pozdrawia z Porto w Portugalii
                </div>
                <br/>
                <div class="share-icons">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                </div>
                <span><a data-disqus-identifier="http://garypeppergirl.com/2017/06/in-my-time"
                         href="http://garypeppergirl.com/2017/06/in-my-time#disqus_thread">Komentarze | 35</a></span>
                <br/>
                <div data-toggle="modal" ng-click="open('myModalContent.html',1)" href="#posts" class="button">
                    <span></span>Czytaj
                    dalej
                </div>
            </div>
            <div class="col-md-6 element-upper">
                <img class="img-responsive" src="img/image1.JPG" alt="oto Marta">
            </div>
        </div>

    </section>
</script>

<ui-view></ui-view>


</body>

</html>
