<!DOCTYPE html>
<html lang="pl">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Marta Nowicka, Konrad Lykowski">

    <title>Igła w Podróży by Marta Nowicka</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,150" rel="stylesheet">

    <script src="js/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-sanitize.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <script src="//unpkg.com/angular-ui-router/release/angular-ui-router.min.js"></script>

    <script src="js/angular.js"></script>
    <link rel="stylesheet" type="text/css" href="css/mainpage.css">
</head>

<body ng-app="iglaWPodrozy">

<script type="text/ng-template" id="modal.html">
    <div class="modal-header">
        <div ui-sref="posts()" class="row">
            <div class="close-modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="modal-title">CO NASZĄ JAPOŃCZYCY I PRAWDZIWI GAJDZINI?
            <img ng-src="img/IMG_9508.JPG" style="width:100%;">
        </div>

        <div ng-bind-html="content"></div>
        <div class="modal-footer">
            <a data-toggle="modal" ui-sref="posts()" class="button"><span></span>Zamknij</a>
        </div>
        <ul class="tag-bar">
            <li ng-repeat="tag in tags"><a href="{{tag.link}}" rel="tag">{{tag.name}}</a></li>
        </ul>
        <div class="modal-post-text">
            <hr/>
            <div>
                <h4>Dodaj komentarz</h4>
                <form name="add-comment" ng-submit="addComment()" role="form">
                    <div class="row">
                        <label class="col-xs-2 control-label">E-mail:</label>
                        <div class="col-xs-4">
                            <input class="form-control" ng-model="email" name="email"
                                   type="email"
                                   data-fv-emailaddress-message="Prosze podaj prawidlowy adres e-mail" required="true"/>
                        </div>
                        <label class="col-xs-1 control-label">Imie:</label>
                        <div class="col-xs-5">
                            <input class="form-control" ng-model="name" name="name" required="true"/>
                        </div>
                    </div>
                    <br/>
                    <div class="form-group">
                        <textarea class="form-control" ng-model="text" name="text" rows="3" maxlength="500"
                                  required="true"></textarea>
                    </div>
                    <button type="submit" data-toggle="modal" class="button">
                        <span></span>Opublikuj
                    </button>
                </form>
            </div>
            <br/>
            <div ng-repeat="comment in comments">
                <div class="media">
                    <div class="media-body">
                        <h4 class="media-heading">{{comment.name}}
                            <small>{{comment.date}}</small>
                        </h4>
                        {{comment.text}}
                    </div>
                </div>
                <br/>
            </div>
        </div>
    </div>
</script>

<ui-view></ui-view>


</body>

</html>
